{% extends 'tienda/base.html' %}

{% block title %}Inicio - Mi Tiendita{% endblock %}

{% block content %}
    
    <div class="mb-4">
        <h1 class="display-5">
            ¡BIENVENIDO al Dashboard, {{ nombre_usuario }}!
        </h1>
        <p class="lead">Desde aquí puedes administrar todas las funciones de "Mi Tiendita".</p>
    </div>

    <div class="alert alert-info" role="alert">
       Tu rol actual es: <strong>{{ rol_usuario }}</strong>
    </div>


    <div class="row mt-4">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Clientes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_clientes }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Productos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_productos }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-box fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Proveedores</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_proveedores }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-truck-loading fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

    </div>

{% endblock %}