{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Agregar Nuevo Producto</h2>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label>Nombre:</label>
            <input type="text" name="nombre" class="form-control" required>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>Precio:</label>
                <input type="number" step="0.01" name="precio" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label>Cantidad:</label>
                <input type="number" name="cantidad" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label>ID Proveedor:</label>
                <input type="number" name="proveedor" class="form-control" placeholder="Ej: 1">
            </div>
            <div class="col-md-6 mb-3">
                <label>Stock Mínimo:</label>
                <input type="number" name="stock_min" class="form-control" value="5">
            </div>
        </div>

        <div class="mb-3">
            <label>Foto:</label>
            <input type="file" name="foto" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Guardar Producto</button>
    </form>
</div>
{% endblock %}