{% extends 'tienda/base.html' %}

{% block title %}Agregar Usuario{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow border-0">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0"><i class="fas fa-user-plus me-2"></i>Nuevo Usuario</h4>
            </div>
            <div class="card-body p-4">
                
                <form method="POST" action="{% url 'usuario_agregar' %}">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="form-label fw-bold">Nombre de Usuario</label>
                        <input type="text" name="nombre" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">Correo Electrónico (Para recuperación)</label>
                        <input type="email" name="correo" class="form-control" placeholder="usuario@ejemplo.com" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">Contraseña</label>
                        <input type="password" name="contrasena" class="form-control" required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label fw-bold">Rol</label>
                        <select name="rol" class="form-select">
                            <option value="Empleado">Empleado</option>
                            <option value="Admin">Administrador</option>
                        </select>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary fw-bold">Guardar Usuario</button>
                        <a href="{% url 'usuarios_lista' %}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}