{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Tiendita - Panel</title>

    <!-- Bootstrap local -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">     

</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-dark text-white border-end" id="sidebar-wrapper">
            <div class="sidebar-heading fw-bold p-3">🛒 Mi Tiendita</div>
            <div class="list-group list-group-flush">
                <a href="{% url 'dashboard_index' %}" class="list-group-item list-group-item-action bg-dark text-white"><i class="fa fa-home"></i> Inicio</a>

            </div>
        </div>

        <!-- Contenido principal -->
        <div id="page-content-wrapper" class="p-4 w-100">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    
</body>
</html>
