{% extends 'dashboard/base.html' %}
{% block content %}
<h2 class="mb-4">Panel de Control</h2>
<div class="row">
    <div class="col-md-3 mb-3">
        <div class="card text-bg-primary">
            <div class="card-body text-center">
                <h4>$0.00</h4>
                <p>Ventas</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card text-bg-success">
            <div class="card-body text-center">
                <h4>1</h4>
                <p>Clientes</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
